<!-- <div class="row">
      <div class="col-md-3" ngFor="let ir of imagesSource">
        <img src="assets/images/arch.jpg" class="img-rounded" alt="ARCH">

      </div>
</div> -->

<!-- <mat-grid-list cols="4" rowHeight="2:1">
  <div class="images" *ngFor="let image of imageList">
    <!-- <ng-template #depositTarget></ng-template> -->
    <!-- <mat-grid-tile><img src={{image}} class="img-rounded" alt="test"></mat-grid-tile>

  <!-- <mat-grid-tile><img src="assets/images/arch.jpg" class="img-rounded" alt="ARCH"></mat-grid-tile>
  <mat-grid-tile><img src="assets/images/baz.png" class="img-rounded" alt="ARCH"></mat-grid-tile>
  <mat-grid-tile><img src="assets/images/cans.jpg" class="img-rounded" alt="ARCH"></mat-grid-tile>
  <mat-grid-tile><img src="assets/images/car.jpeg" class="img-rounded" alt="ARCH"></mat-grid-tile> -->
<!-- </mat-grid-list>
HEY -->

<!-- <form (ngSubmit)="onSubmit()" #imageForm = "ngForm" role="form" enctype="multipart/form-data">
    <div class="form-group">
        <label for="uid">Enter a Unique ID</label>
        <input type="text" class="form-control" id="uid" required [(ngModel)]="model.uid" name="uid" #uid="ngModel"/>
    </div>
    <div [hidden]="uid.valid || uid.pristine"
         class="alert alert-danger">
      ID is required
    </div>

    <div class="form-group">
        <label for="uploadImage">Selct an image to upload</label>
        <input type="file" class="form-control" id="uploadImage" required [(ngModel)]="model.uploadImage" name="uploadImage"  #uploadImage="ngModel" />
    </div>
    <div [hidden]="uploadImage.valid || uploadImage.pristine"
         class="alert alert-danger">
      image required
    </div>

    <div class="form-group">
        <label for="numOfAugments">Number of Augmentations to perform</label>
        <input type="number" class="form-control" id="numOfAugments" min="2" max="20" required [(ngModel)]="model.numOfAugments" name="numOfAugments"  #numOfAugments="ngModel" >
    </div>
    <div [hidden]="numOfAugments.valid || numOfAugments.pristine"
         class="alert alert-danger">
      Choose between 2 and 20 augments
    </div>

    <div class="form-group">
        <label for="tags">Enter image tags</label>
        <input type="text" class="form-control" id="tags" [(ngModel)]="model.tags" name="tags"/>
    </div>

    <button type="submit" class="btn btn-success" (click)="newAugmentEvent(); imageForm.reset()" [disabled]="!imageForm.form.valid">Submit</button>
</form> -->
