.scaleToFit {
  width:90%;
  /* height: auto; */
  height:90%;
  /* box-sizing: border-box; */
  /* border:20px solid white; */
  margin-left: 10px;
  /* margin-right: auto; */
}


/* .img-rounded {
  object-fit: cover;
  /* width: 50px;
  height: 100px;
} */
.centred {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
    /* border:100px solid black; */
}
