<h3>Upload an Image to Augment</h3>

  <form (ngSubmit)="onSubmit()" #imageForm = "ngForm" role="form" enctype="multipart/form-data">
      <mat-dialog-content>
      <div class="form-group">
          <label for="uid">Enter a Unique ID</label>
          <input type="text" class="form-control" id="uid" required [(ngModel)]="model.uid" name="uid" #uid="ngModel"/>
      </div>
      <div [hidden]="uid.valid || uid.pristine"
           class="alert alert-danger">
        ID is required
      </div>

      <div class="form-group">
          <label for="uploadImage">Select an image to upload</label>
          <input #imageInput
           class="form-control-file"
           type="file"
           accept="image/*"
           (change)="processFile(imageInput)">
      </div>

      <div class="form-group">
          <label for="numOfAugments">Number of augmentations [min. 2 max. 20]</label>
          <input type="number" class="form-control" id="numOfAugments" min="2" max="20" required [(ngModel)]="model.numOfAugments" name="numOfAugments"  #numOfAugments="ngModel" >
      </div>
      <div [hidden]="numOfAugments.valid || numOfAugments.pristine"
           class="alert alert-danger">
        Choose between 2 and 20 augments
      </div>

      <div class="form-group">
          <label for="tags">Enter image tags</label>
          <input type="text" class="form-control" id="tags" [(ngModel)]="model.tags" name="tags"/>
      </div>
      </mat-dialog-content>

      <mat-dialog-actions>
        <button type="submit" class="btn btn-success" (click)="onSubmit();imageForm.reset() " [disabled]="!imageForm.form.valid">Submit</button>
      </mat-dialog-actions>

  </form>
  <button class="btn btn-danger download-button" [disabled]="isButtonDisabled" >Download</button>
  <mat-spinner [diameter]="30" [ngStyle]="{'visibility': spinnerVisibility}"></mat-spinner>
