header {
  padding: 154px 0 100px;
  background-image: url('https://s3.eu-west-2.amazonaws.com/irw-files/neural.jpg');
  background-size: cover;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

.uploadButtonCSS {
    font-weight: bold !important;
    padding: 6px 45px !important;
}
